{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <p>Сортировать по:
                <a class="sort-item" href="/catalog?sort=name">названию</a>
                <a class="sort-item" href="/catalog?sort=price">сначала дешевые</a>
                <a class="sort-item" href="/catalog?sort=-price">сначала дорогие</a>
            </p>
        </div>

        <div class="content">
            {% for phone in phones %}
            <div class="phone">
                <h2><a href="{{phone.link}}">{{phone.name}}</a></h2>
                <p>Стоимость: <span class="price">{{phone.price}}</span></p>
                <img src="{{phone.image}}">
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}