{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <h2>{{phone.name}}</h2>
            <img style="max-height: 500px;" src="{{phone.image}}">
            <p>Стоимость: {{phone.price}}</p>
            <p>Дата выпуска: {{phone.release_date}}</p>
            <p>Поддержка LTE: {{phone.lte_exists}}</p>
        </div>
    </div>
{% endblock %}