{% extends 'base.html' %}

{% block title %} Вход {% endblock title %}

{% block content %}
    <h2>Войти</h2>
    <form class="col-4" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="row">{{ field.errors }}</div>
            <div class="row">{{ field.label_tag }}</div>
            <div class="row">{{ field }}</div>
        {% endfor %}
        <button class="btn btn-light mt-3" type="submit">Войти</button>
    </form>
{% endblock content %}
